:root {
    --blue: #392DE0;
    --yellow: #F7E921;
}

.half-blue-background {
    background-color: var(--blue);
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    z-index: -1;
}

body {
    background-image: url(../img/web_background.png);
    background-size: 100%;
    background-repeat: repeat-y;
    width: 100%;
}

#top-container .col-12 {
    padding-left: 0;
    padding-right: 0;
    margin-top: 100px;

}

#banner-top {
    width: 100%;
}

#banner-top-word {
    height: 100%;
    position:absolute;
    top: 0;
    left: -22px;
}

#color-container {
    background-color: var(--blue);
    position: relative;
}

#color-container #top-house {
    position: absolute;
    width: 50%;
    bottom: 100%;
    right: 0;
}


#color-container #top-crew {
    /* position: absolute; */
    width: 80%;
    margin: auto;
    transform: translateY(-8%);
}