:root {
    --blue: #392DE0;
    --yellow: #F7E921;
}

/* header */
.cd-header.is-fixed {
    /* background-color: rgba(0,0,0,0); */
}


.half-blue-background {
    background-color: var(--blue);
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    z-index: -1;
}

body {
    background-image: url(../img/web_background.png);
    background-size: 100%;
    background-repeat: repeat-y;
    width: 100%;
}

#top-container .col-12 {
    padding-left: 0;
    padding-right: 0;
    margin-top: 100px;

}

#banner-top {
    width: 100%;
}

#banner-top-word {
    height: 100%;
    position:absolute;
    top: 0;
    left: -22px;
}

#color-container {
    background-color: var(--blue);
    position: relative;
}

#color-container #top-house {
    position: absolute;
    width: 50%;
    bottom: 100%;
    right: 0;
}


#color-container #top-crew {
    /* position: absolute; */
    width: 80%;
    margin: auto;
    transform: translateY(-8%);
}


/*content*/

#color-container .lead {
    font-weight: 600;
}

#color-container div {
    color: white;
    line-height: 1.8;
    font-size: 14px;
}

#color-container h6 {
    text-transform: none;
}


.box-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px white solid;
}
.box-title {
    /* position: absolute; */
    border: 1px white solid;
    padding: 10px;
    background-color: var(--blue);
    transform: translate(-1rem, -1rem);
}


.box-content {
    /* margin-top: 1rem; */
    padding: 1rem;
    padding-top: 0;
    /* width: 95%; */
    /* padding-top: 5rem; */
}

.group-container-white-bg {
    --img-outside: 3rem;
}

.group-container-white-bg {
    background: white;
    width: 100%;
    height: 100%;
    margin-top: var(--img-outside);
}

.group-container {
    position: relative;
    width: 80%;
    transform: translateY(calc(-1 * var(--img-outside)));
    display: block;
    margin: 0 auto;

}

.group-container img {
    border: 1px solid white;
    width: 100%;
}

.group-title {
    position: relative;
    background: var(--blue);
    width: fit-content;
    height: fit-content;
    border: 1px solid white;
    transform: translateY(-50%);
    padding: 10px;
    z-index: 2;
}
.group-title::after {
    content: "";
    position: absolute;
    right: -60%;
    top: 7%;
    width: 90%;
    height: auto;
    aspect-ratio: 1;
    /* height: 150px;  */
    background-image: url("../img/web-10.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.group-content {
    position: relative;
    z-index: 3;

}
.group-content p {
    color: black;
}

.group-img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.group-img-wrapper::after {
    content: "";
    position: absolute;
    height: auto;
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.group-1 .group-img-wrapper::after {
    right: 0;
    bottom: 0;
    width: 15%;
    background-image: url("../img/web-08.png");
    transform: translate(40%, 40%);
}

.group-2 .group-img-wrapper::after {
    top: calc( -1 * var(--img-outside));
    left: 50%;
    width: 15%;
    background-image: url("../img/web-11.png");
    transform: translate(-50%, 40%);
}


.group-3 .group-img-wrapper {
    position: unset;
    width: unset;
    height: unset;
}

.group-3 .group-img-wrapper::after {
    bottom: 0;
    right: 0;
    width: 15%;
    background-image: url("../img/web-09.png");
    transform: translate(50%, calc(var(--img-outside) + 50%));
}

@media  (max-width: 767.98px)  {
    .group-container {
        width: 90%;
    }
}

.credit-title {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 8px;
    margin-bottom: 1rem;
}

.credit-name ul {
    padding-left: 1rem;
}
.credit-name li {
    list-style-type: none;
    position: relative;
}
.credit-name li::before {
    content: "●";
    position: absolute;
    left: -1.1rem;
    font-size: 1.3rem;
    top: 0;
    transform: translateY(-15%);
}