<div class="section padding-top-bottom-small background-black">	
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-md-6 footer text-center text-md-left">
                <p>2019 © <a href="https://themeforest.net/user/ig_design/portfolio" class="cursor-link">Alke</a> template by <a href="https://themeforest.net/user/ig_design/portfolio" class="cursor-link">IG Design</a></p>	
            </div>
            <div class="col-md-6 mt-4 mt-md-0 text-center">
                <div class="social-wrap on-footer">
                    follow us
                    <ul>
                        <li><a href="#" class="cursor-link">fb</a></li>
                        <li><a href="#" class="cursor-link">tw</a></li>
                        <li><a href="#" class="cursor-link">be</a></li>
                    </ul>
                </div>	
            </div>	
        </div>	
    </div>			
</div>