<!-- <div class="section padding-top-bottom-big over-hide background-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <a href="contact.html" class="cursor-link animsition-link">
                    <div class="project-link-wrap">
                        <p>let's talk</p>
                    </div>
                </a>
            </div>
        </div>	
    </div>			
</div> -->

<div class="section background-blue">
    <div class="container">
        <form class="row justify-content-center needs-validation">
            <!-- <form> -->
                <div class="col-md-6 text-center">
                    <p class="mb-0 pb-3">留下您的E-mail，接收最新一期「有事揪團」計畫資訊！</p>
                </div>
                <div class="col-md-8 ajax-form">
                    <input id="email" class="cursor-link form-control" name="email" type="email" placeholder="相揪共創！" autocomplete="off" required/>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
                <div class="section clearfix"></div>
                <div class="col-md-4 mt-4 ajax-form text-center">
                    <button class="send_message cursor-link-blog-post-1" id="send" type="button"><span>揪！</span></button>
                </div>
            <!-- </form> -->
        </form>	
    </div>			
</div>