<!-- <div class="section padding-top-bottom-big over-hide background-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <a href="contact.html" class="cursor-link animsition-link">
                    <div class="project-link-wrap">
                        <p>let's talk</p>
                    </div>
                </a>
            </div>
        </div>	
    </div>			
</div> -->

<div class="section background-dark-2">
    <div class="container">
        <div class="row justify-content-center padding-top-bottom">
            <div class="col-md-8 ajax-form">
                <input class="cursor-link" name="email" type="text"  placeholder="留下你的 Email" autocomplete="off"/>
            </div>
            <div class="section clearfix"></div>
            <div class="col-md-4 mt-4 ajax-form text-center">
                <button class="send_message cursor-link" id="send" data-lang="en"><span>通知我</span></button>
            </div>
        </div>	
    </div>			
</div>