<div class="nav">
    <div class="nav__content">
        <ul class="nav__list">
            <li id="nav__about" class="nav__list-item"><a href="./index.html" class="cursor-link animsition-link">Chiayi Crew，嘉義酷！</a></li>
            <li id="nav__program" class="nav__list-item"><a targer="_blank" href="https://drive.google.com/file/d/1qj-3OZf3-HfOjSiurTKqhfuHj8fYR6Yk/view" class="cursor-link animsition-link">活動節目表</a></li>
            <li id="nav__2024" class="nav__list-item nav__mt"><a targer="_blank" href="./2024/index.html" class="cursor-link animsition-link">2024 嘉義市地方創生成果</a></li>
            <!-- <li id="nav__contact" class="nav__list-item"><a href="contact.html" class="cursor-link animsition-link">聯絡我們</a></li> -->
        </ul>
    </div>
</div>	