<div class="nav">
    <div class="nav__content">
        <ul class="nav__list">
            <li id="nav__about" class="nav__list-item"><a href="index.html" class="cursor-link animsition-link">有事揪團</a></li>
            <li id="nav__roaming" class="nav__list-item"><a href="roaming.html" class="cursor-link animsition-link">揪踅街</a></li>
            <li class="nav__education"><a href="education.html" class="cursor-link animsition-link">揪教育</a></li>
            <li class="nav__co-creating"><a href="co-creating.html" class="cursor-link animsition-link">揪共創</a></li>
            <li class="nav__co-living"><a href="co-living.html" class="cursor-link animsition-link">揪作伙</a></li>
            <li class="nav__contact"><a href="contact.html" class="cursor-link animsition-link">contact</a></li>
        </ul>
    </div>
</div>	