<div class="section padding-top-bottom-small background-black">	
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-md-6 footer text-center text-md-left">
                <p>2024 © 嘉義市地方創生成果</p>	
            </div>
            <div class="col-md-6 mt-4 mt-md-0 text-center">
                <div class="social-wrap on-footer">
                    follow us
                    <ul>
                        <li><a target="_blank" href="https://www.facebook.com/Launcherlabhc" class="cursor-link">FB</a></li>
                        <li><a target="_blank" href="https://youthsoullab.chiayi.gov.tw/" class="cursor-link">WEB</a></li>
                    </ul>
                </div>	
            </div>	
        </div>	
    </div>			
</div>