/* header */
.cd-header.is-fixed {
    background-color: blue !important;
}

/* wave container */
:root {
    --color-container-margin-left: 30px;
}

.color-container {
    position: relative;
    width: calc( 100% - 2 * var(--color-container-margin-left) );
    overflow: hidden;
    background-color: black;
    margin-left: var(--color-container-margin-left);
    margin-right: var(--color-container-margin-left);
}
.color-container .container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.wave {
    width: calc( 100% - 2 * var(--color-container-margin-left) );
    margin-left: var(--color-container-margin-left);
    margin-right: var(--color-container-margin-left);
}
.wave path {
    fill: black;
}

/* image decoration */
:root {
    --img-dec-margin-left: 2%;
    --img-dec-margin-top: 4%;
}


.img-wrap img {
    position: relative !important;
    width: calc( 100% - 2 * var(--img-dec-margin-left)) !important;
    margin-left: var(--img-dec-margin-left);
    margin-top: var(--img-dec-margin-top);
    margin-bottom: var(--img-dec-margin-top);
    z-index: 2 !important;
}

.img-wrap .watermark {
    position: absolute !important;
    width: 20% !important;
    height: auto !important;
    margin: 0;
    bottom: calc( -1 * var(--img-dec-margin-top));
    right: 0;
    z-index: 3;
}

.img-background {
    position: absolute;
    top: calc( -1 * var(--img-dec-margin-top));
    left: 0;
    width: 50%;
    height: calc( 100% + 2 * var(--img-dec-margin-top));
    /* bottom: 0; */
    /* background-color: red; */
    z-index: 1; /* 確保背景在 img 後面 */
    background: 
            linear-gradient(to top left, #FFFBE1,#FFB79B,rgba(255, 255, 255, 0), #FEFACB, #D7E9E5),
            linear-gradient(to top right, #71AFEE, rgba(255, 255, 255, 0), #F97241) #FBE281;
}

.color-container input {
    background-color: blue;
}

.institute {
    color: blue
}