    <div class="header-wrapper">
        <div class="logo-wrap">
            <a href="index.html" class="cursor-link animsition-link"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="nav-but-wrap">
            <div class="menu-icon cursor-link">
                <span class="menu-icon__line menu-icon__line-left"></span>
                <span class="menu-icon__line"></span>
                <span class="menu-icon__line menu-icon__line-right"></span>
            </div>					
        </div>					
    </div>				
